<header>
<h1>Eat <span>&#541;</span>e Burger!</h1>
</header>


<img src="/assets/img/scribeburger.png", alt="A scribe watches a sea monster look at a burger"/>

<h2>Burgers to be devoured</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li id="burger-list">
        {{burger_name}}
        <button class="devour-burger" data-id="{{this.id}}">Devour!</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2 id="right">Burgers devoured</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add thy Burger!</h2>
<form class="create-form">
    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="add-burger" name="name">
    </div>

    <input type="submit" value="Add thy Burger!">
</form>