<h1>Eat <span>&#541;</span>e Burger!</h1>
<form class="create-form">

<h2>Burgers to be devoured</h2>

<h2>Burgers devoured</h2>

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger!</button>
</form>